body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    
    display: flex;
    flex-direction: row;
    background: url("https://media.istockphoto.com/vectors/digital-sequence-code-structure-with-glow-science-concept-and-nano-vector-id1255207941?k=20&m=1255207941&s=612x612&w=0&h=8H49MAhUowczvEyL6lKtvcwiD7GnpUwqdyZqdj_wru0=");
    background-size:cover
  }
  
  nav {
    width: 25vw;
    height: 100vh;
  }
  
  header {
    float: left;
    width: 100%;
    height: auto;
    border-radius: 0 0 6px 0;
    padding: 10px;
    margin-right: 0px;
    background: url("https://media.istockphoto.com/vectors/digital-sequence-code-structure-with-glow-science-concept-and-nano-vector-id1255207941?k=20&m=1255207941&s=612x612&w=0&h=8H49MAhUowczvEyL6lKtvcwiD7GnpUwqdyZqdj_wru0=");
    background-size:cover;
    
  }
  
  h1 {
    font-size: 52px;
    color: cornflowerblue;
    margin: 10px 0;
    font-family: "Bebas Neue", cursive;
  }
  #profile-image {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }

  h2 { 
    font-family: 'Hurricane', cursive;
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
  }
  
  main {
    /* float: left; */
    margin-left: 0px;
    width: 800px;
    
    visibility: hidden;
  }
  
  #cake-list {
    overflow: scroll;
    height: 90vh;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      lavender 10px,
      lavender 20px
    );
  }
  
  #cake-list li {
    font-size: 2vh;
    margin-top: 4vh;
    padding-top: 4vh;
    background-color: cornflowerblue;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  #cake-list li:hover {
    color: white;
  }
  
  .introduction {
      width: 800px;
  }

    a {
    -webkit-transition: color 2s;
    transition: color 2s;
    }
    a:hover {
        background-color: yellowgreen;
    }

  .left-gif-compare {
      width: 50%;
      float:left;
      
  }
 
  #img-left-sort {
      width: 400px;
  }
  #img-right-sort {
      width: 400px;
  }
  .right-gif-compare {
      margin-left: 50%;
      

  }
  .algo-compare h2 {
    font-size: 32px;
    text-align: center;
    align-items: center;
  }
  
  .algo-compare h3 {
    font-size: 24px;
  }
  
  .algo-compare img {
    display: block;
    height: 200px;
    margin: 0 auto 25px auto;
  }
  
  form {
    width: 450px;
    margin: 0 auto 50px auto;
  }
  
  textarea {
    display: block;
    width: 100%;
    height: 100px;
    border: 1px solid gray;
    padding: 5px;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  form button[type="submit"] {
    border: none;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    background-color: cornflowerblue;
    color: #fff;
    padding: 7px 10px;
    cursor: pointer;
  }
  
  #review-list li {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  #flex-container {
      display: flex;
      flex-direction: row;
      background-color: white;
      border-radius: 5px;
      padding: 20px;
      margin-bottom: 20px;
  }
  
#raw-username {
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#raw-review {
    background-color: rgba(128, 226, 131, 0.3);
    border-radius: 2px;
    width: 400px;
}

